node_modules/
node_modules_*/
tmp/
temp/
public/vendor/bower_components/
public/vendor_*/bower_components/
public/templates/default/stylesheets/style.css
db/**.fdb
**.fdb

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

npm-debug.log
*.css

public/templates/template_elements/main_menu/main_menu.ect.html
public/templates/template_elements/bootstrap/themes/gray/example/1/**

public/templates/template_elements/bootstrap/themes/gray/example/1/Bootswatch  Slate.htm
