node_modules/
tmp/
temp/
public/vendor/bower_components/
public/templates/default/stylesheets/style.css


#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

npm-debug.log
*.css